<!doctype html>
<html>
<head>
  <title>Meadowlark Travel</title>
</head>
<body>
<header>
  <img src="/img/logo.png" alt="Логотип Meadowlark Travel" width="160" height="104">
</header>
{{{body}}}
</body>
</html>